Dockerfile
docker-compose.yml
*.md
.idea
.git
**/.DS_Store
**/*.pyc
**/.vscode
**/.idea
**/__pycache__
**/.proto
gen_grpc_code.py
src/core/data
src/core/generate_image
src/core/model
src/core/original_image
src/core/style_image
src/core/vggnet
src/core/MSCOCO